<% var name = "Calender Heatmap" %>
<% var link = "https://github.com/DKirwan/calendar-heatmap" %>
<% var cssLink = "/stylesheets/calendar-heatmap.css" %>

<%- include('templates/headlinks', {css: cssLink}) -%>
<div class="tabbable-panel">
    <h2>
        <%= name %>
    </h2>
    <div class="tabbable-line">
        <%- include('templates/tabs') -%>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_default_1">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js" charset="utf-8"></script>
                <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
                <script src="/javascripts/calendar-heatmap.js"></script>
            
                <script type="text/javascript">
                    var now = moment().endOf('day').toDate();
                    var yearAgo = moment().startOf('day').subtract(1, 'year').toDate();
            
                    var chartData = d3.time.days(yearAgo, now).map(function (dateElement) {
                        return {
                            date: dateElement,
                            count: (dateElement.getDay() !== 0 && dateElement.getDay() !== 6) ? Math.floor(Math.random() * 100) : Math.floor(Math.random() * 10)
                        };
                    });
                    
                    var heatmap = calendarHeatmap()
                        .data(chartData)
                        .selector('.container')
                        .tooltipEnabled(true)
                        .tooltipUnit(
                        [
                            { min: 0, unit: '~views~' },
                            { min: 1, max: 'Infinity', unit: 'views' }
                        ])
                        .colorRange(['#E3FFBD', '#6AB900'])
                        .onClick(function (data) {
                            alert('data', data);
                        });
            
                    heatmap();  // render the chart
            
                </script>
            </div>
            <div class="tab-pane" id="tab_default_2">
            </div>
            <div class="tab-pane" id="tab_default_3">
                <p>
                    <a class="btn btn-info" href= <%= link %> >Source</a>
                </p>
            </div>
        </div>
    </div>
</div>

<%- include('templates/taillinks') -%>
